/* Stylesheet for the application */


html * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*** flex box container ****/
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 1px solid red;*/
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    /*border: 1px solid blue;*/
    min-height: 600px;
    padding: 8px;
}


header {
    margin-bottom: 40px;
}
header a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header a img {
    width: 70%;
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

/***** generel form styles *****/
.generic-form{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.generic-form [type=text], .generic-form [type=password] {
    padding: 10px;
    font-size: 1.2rem;
}

.generic-form button {
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5px;
    background-color: darkgreen;
    color: white;
}


.generic-form button:hover {
    background-color: lightgreen;
}

.input-large {
    width: 300px;
}

/* ********** task ***/
.task-table {
    border-collapse: collapse;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 400px;
}

.task-table th, .task-table td {
    border: 1px solid #dddd;
    padding: 10px;

}

.task-table tr:nth-child(even) {
    background-color: silver;
}

/***** error css */
.error {
    border: 1px solid red;
    padding: 10px;
    color: red;
    max-width: 400px;
}

/*** flex box container ****/


