/* Stylesheet for the application */

header {
    margin-bottom: 30px;
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

/***** generel form styles *****/
.generic-form [type=text], .generic-form [type=password] {
    padding: 10px;
    font-size: 1.2rem;
}

.generic-form button {
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5px;
    background-color: darkgreen;
    color: white;
}


.generic-form button:hover {
    background-color: lightgreen;
}

.input-large{
    width: 300px;
}

/* ********** task ***/
.task-table {
    border-collapse: collapse;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.task-table th, .task-table td {
    border: 1px solid #dddd;
    padding: 10px;

}

.task-table tr:nth-child(even) {
    background-color: silver;
}


/*** Styles add task ****/


