<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>FourThingsPlus</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<h1>Welcome to four things plus</h1>

<p> Please log in:</p>

<form method="post">
    <label>
        <input type="text" name="username" placeholder="Enter username"/>
    </label>
    <label>
        <input type="password" name="password" placeholder=" Enter password"/>
    </label>

    <button type="submit" formaction="/login" >Log på</button>

    <div> <p th:text="${message}"> </p></div>
</form>

<div th:if="${session.currentUser != null}">
    <span th:text="${session.currentUser.username}"></span> |
    <a href="index.html" th:href="@{/logout}"> Log out </a>

</div>

</body>
</html>
